* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #f5f5f5;
  --accent-color: #eaecef;
  --text-primary-color: #202b3b;
  --text-secondary-color: #949aa3;
  --main-font-family: "Rubik", sans-serif;
  --main-gap: 15px;
  --main-border-radius: 0.8rem;
}

::placeholder {
  color: var(--text-secondary-color);
  opacity: 1; /* Firefox */
}

body {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 0.5fr;
  grid-template-rows: 50px 1fr 1fr 1fr;
  grid-gap: var(--main-gap);
  padding: 30px;
  background-color: var(--main-bg-color);
  font-family: var(--main-font-family);
}

.search-bar {
  grid-column: 2/3;
  grid-row: 1;
  height: 50px;
  padding: 12px;
  font-size: 14px;
  appearance: none;
  font-family: var(--main-font-family);
  color: var(--text-secondary-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: var(--main-border-radius);
}

.search-bar:focus-visible {
  outline: 2px solid var(--text-secondary-color);
}

.current-forecast {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.title > .city {
  color: var(--text-primary-color);
  font-size: 42px;
  font-weight: 600;
}

.title > .weather-condition {
  color: var(--text-secondary-color);
  font-size: 14px;
}

.info > .temperature {
  font-size: 56px;
  font-weight: 500;
}

.weather-icon {
  scale: 0.8;
}

.air-conditions {
  grid-column: 2/3;
  grid-row: 3/5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--main-gap);
}

.air-conditions > div {
  background-color: var(--accent-color);
  border-radius: var(--main-border-radius);
  padding: 20px;
}

.air-conditions .title-container {
  display: flex;
  height: 100%;
  gap: 10px;
  /* padding: 20px; */
}

.air-conditions .title {
  font-size: 18px;
}

.air-conditions .title,
.air-conditions .icon {
  color: var(--text-secondary-color);
  font-weight: 500;
}

.air-conditions .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.air-conditions .number {
  font-size: 28px;
  font-weight: 500;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 22;
}

.week-forecast {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  padding: 30px;
  background-color: var(--accent-color);
  border-radius: var(--main-border-radius);
  justify-content: space-around;
}

.week-forecast > .title {
  color: var(--text-secondary-color);
  font-size: 14px;
  font-weight: 500;
}

.week-container {
  display: flex;
  justify-content: space-between;
  color: var(--text-secondary-color);
}

.first-day,
.second-day,
.third-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.week-container .weather-icon {
  width: 100px;
}

.week-container .temperature {
  color: var(--text-primary-color);
  font-size: 20px;
  font-weight: 500;
}

.week-container .temperature span {
  color: var(--text-secondary-color);
  font-weight: 400;
}

.week-container hr {
  width: 1px;
  border: none;
  background-color: var(--text-secondary-color);
  opacity: 50%;
  border-radius: 1px;
}

.today-forecast {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-column: 3/4;
  grid-row: 3/5;
  background-color: var(--accent-color);
  border-radius: var(--main-border-radius);
  padding: 30px;
}

.today-forecast .title {
  color: var(--text-secondary-color);
}

.today-forecast .hourly-forecast {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.today-forecast .hourly-forecast > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today-forecast .icon-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.today-forecast .time {
  color: var(--text-secondary-color);
}

.today-forecast .icon {
  width: 40px;
}

.today-forecast span {
  color: var(--text-secondary-color);
}

.today-forecast hr {
  height: 1px;
  border: none;
  background-color: var(--text-secondary-color);
  opacity: 50%;
  border-radius: 1px;
}
